/* body styles */
* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
  }

body {
    display: flex;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #FDF7FA;
    color: #252223;
    margin: 0px;
    text-align: justify;
  }

header {
    border-bottom: 5px solid #252223;
    border-radius: 5px;

}
  
  /* page wrapper styles */
  .page-wrapper {
    flex: 1;
    position: relative;
    max-width: 960px;
    padding: 0 20px;
 }
  
  /* intro section styles */
  .intro {

    padding: 15px;

  }
  
  .intro h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .intro h2 {
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .summary {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
    padding: 15px;
    color: #252223;
  }
  
  .summary a {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #333;
    text-decoration: none;
    font-size: 16px;;
  }

  .summary a:hover {
    background-color: #555;
  }
  
  .preamble {
    margin-top: 40px;
    font-size: 18px;
    line-height: 1.5;
    background-color: #E2A3C7;
    padding: 15px;
    border-radius: 10px;
  }
  
  .preamble h3 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  /* supporting section styles */
  .supporting {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    color: #252223;
    background-color: #252223;
    border-radius: 10px;
    margin: 15px;
  }
  
  .explanation {
    flex: 1 1 300px;
    margin-right: 30px;
    background-color: #D67AB1;
    padding: 15px;
    border-radius: 10px;

  }
  
  .participation {
    flex: 1 1 350px;
    background-color: #D67AB1;
    padding: 15px;
    border-radius: 10px;

  }
  
  .benefits {
    flex: 1 1 200px;
    background-color: #D67AB1;
    padding: 15px;
    border-radius: 10px;
    margin-top: 30px;

  }

  .requirements  {

    background-color: #D67AB1;
    padding: 15px;
    border-radius: 10px;
    margin-top: 30px;

  }

  footer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  footer a {
    flex: 1;
    padding: 10px 20px;
    background-color: #FDF7FA;
    border: 1px solid;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    }
  
  .explanation h3,
  .participation h3,
  .benefits h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .explanation p,
  .participation p,
  .benefits p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .explanation p:last-child,
  .participation p:last-child,
  .benefits p:last-child {
    margin-bottom: 0;
  }

  .sidebar {
    background-color: #FDF7FA;
    border: 20px solid #252223;
    margin: 15px;
    border-radius: 20px;
    padding: 10px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: #252223;
  }

  .wrapper {
    text-decoration: none;
    color: #252223;
  }
  
  .sidebar h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .sidebar a {
    text-decoration: none;
    color: #252223;
  }
  
  .sidebar a:hover {
    text-decoration: underline;
  }
  
  .sidebar .wrapper {
    max-width: 320px;
    margin: 0 auto;
  }
  
  .sidebar .select {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .sidebar nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .sidebar nav li {
    margin-bottom: 10px;
  }
  
  .sidebar .design-name {
    font-weight: bold;
  }
  
  .sidebar .designer-name {
    font-style: italic;
  }
  
  .sidebar .archives {
    margin-top: 30px;
    text-align: center;
  }
  
  .sidebar .archives ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .sidebar .archives li {
    margin-right: 10px;
  }
  
  .sidebar .archives .indicator {
    margin-left: 5px;
  }
  
  .sidebar .resources {
    margin-top: 30px;
    text-align: center;
  }
  
  .sidebar .resources ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .sidebar .resources li {
    margin-right: 20px;
  }
  
  .sidebar .view-css {
    font-weight: bold;
  }
  
  .sidebar .zen-submit {
    font-weight: bold;
    margin-top: 10px;
  }
  